{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="">Снабжение и опт</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
      aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:home-view' %}">Заявки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:home-view' %}">Поставщику</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'users:about-view' %}">Инструкции</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 text-info">
       {% if user.is_authenticated %}
        Вы вошли как {{ user.get_username }}
            (<a href="{% url 'auth_logout' %}">Выйти</a> |
              <a href="{% url 'auth_password_change' %}">изменить пароль</a>)
        {% else %}
       <a href="{% url 'auth_login' %}" class="btn btn-primary btn-sm m-1">Войти</a>
        <a href="{% url 'registration_register' %}" class="btn btn-primary btn-sm m-1">Регистрация</a>
         {% endif %}

      </ul>
    </div>
  </div>
</nav>


<!-- <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">Dropdown</a>
  <div class="dropdown-menu" aria-labelledby="dropdownId">
    <a class="dropdown-item" href="#">Action 1</a>
    <a class="dropdown-item" href="#">Action 2</a>
  </div>
</li> -->